/* 
font-family: 'Bebas Neue', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Sarabun', sans-serif;
font-family: 'Thasadith', sans-serif;
font-family: 'Wix Madefor Display', sans-serif;
 */

h1 {
  font-family: "Sarabun", sans-serif;
}

h2,
h3 {
  font-family: "Wix Madefor Display", sans-serif;
}

p {
  font-family: "Thasadith", sans-serif;
}

.hero {
  background-color: bisque;
  text-align: center;
}

.hero h1 {
  font-size: 96px;
}

.hero h3 {
  font-size: 26px;
}

.btn {
  color: whitesmoke;
  text-decoration: none;
  background-color: rgb(138, 43, 226);
  border: 3px solid whitesmoke;
}

.btn:hover {
  color: rgb(138, 43, 226);
  text-decoration: none;
  background-color: whitesmoke;
  border: 3px solid rgb(138, 43, 226);
}

.btn:visited {
  color: rgb(66, 139, 66);
  background-color: rgb(138, 43, 226);
  border: 3px solid bisque;
}
