/* 
font-family: 'Bebas Neue', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Sarabun', sans-serif;
font-family: 'Thasadith', sans-serif;
font-family: 'Wix Madefor Display', sans-serif;
 */

body {
  margin: 10px auto;
}

h1 {
  font-family: "Sarabun", sans-serif;
  line-height: 80px;
}

h2,
h3 {
  font-family: "Wix Madefor Display", sans-serif;
  padding-top: 35px;
  line-height: 40px;
}

h4,
h5 {
  font-family: "Thasadith", sans-serif;
  padding: 30px;
  font-weight: 800;
}

.hero {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  text-align: center;
  padding: 160px;
}

.hero h1 {
  font-size: 96px;
}

.hero h3 {
  font-size: 26px;
}

.btn {
  color: whitesmoke;
  text-decoration: none;
  /* background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); */
  background: radial-gradient(
    circle at 10% 20%,
    rgb(116, 203, 199) 0%,
    rgb(220, 246, 200) 90%
  );
  border: 3px solid whitesmoke;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding-top: 20px;
  margin: 10px auto;
}

.btn:visited {
  color: rgb(138, 43, 226);
  text-decoration: none;
  background-color: whitesmoke;
  border: 3px solid rgb(138, 43, 226);
}

.btn:hover {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(116, 203, 199) 0%,
    rgb(220, 246, 200) 90%
  );
  border: 3px solid rgb(61, 109, 106);
}

.subheadings {
  font-family: "Wix Madefor Display", sans-serif;
  text-align: center;
  padding: 50px 5px 15px 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
  max-width: 1400px;
}

div.col-md-4 {
  display: block;
  align-items: center;
  max-height: 100%;
  background-color: whitesmoke;
  text-align: center;
  padding: 15px 0;
  margin: 15px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.explore-img {
  border-radius: 35px;
  margin: 2px auto;
  padding: 5px;
  background-color: whitesmoke;
  border: lightblue;
  max-width: 80%;
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 56px;
  }

  div.col-md-4 {
    display: block;
    height: 420px;
  }
}
